

h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  background-color: #1e1e3a;
  color: transparent;
  text-shadow: 1px 1px 2px rgba(242, 245, 248, 0.87);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
  padding-top: 1px;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}

.jumbotron{
  background-color: #e8ee92;
  color:#fff;
  -webkit-box-shadow: 5px 4px 6px -3px #585858; 
box-shadow: 5px 4px 6px -3px #585858;
}

 .card{
    margin: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 5px 4px 6px -3px #585858; 
box-shadow: 5px 4px 6px -3px #585858;   
}

.team-area{
  display: flex;
}

.card-header{
  background-color: rgb(172, 248, 246);
  border-radius: 10px;
}

footer{
  margin-top: 100px;
  text-align: center !important;
}

footer p a{
  color: #ccc;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}

@media (max-width:782px) {

  .team-area{
    display: block;
  }

}
